{% extends "shared/base.html" %}


{% block title %} 
  <title>Chat Application</title>
{% endblock %} 

{% block content %} 

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 160px;
  right: 420px;
  width: 280px;
}

#texta{
  
  margin-left: 30px;
  margin-top: 15px;
  
  height: 500px;
  width: 500px;

}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 200;
  right: 405px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

</style>

<div>
<h3 style="margin-left:30px;margin-top:30px;">Your Messages ...</h3>
<textarea style="float: left" placeholder="your message..." id="texta" rows="33" cols="20" ></textarea>


<button style="float: right" class="open-button" onclick="openForm()">Chat</button>

<div style="float: right" class="chat-popup" id="myForm">
  <form class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message..." id="msg" name="msg" required></textarea>

    <button type="button" class="btn send" id="send" onclick="sendt()">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
</div>

<script>

var ws = new WebSocket("ws://localhost:8000/ws");
ws.onmessage = function(event) {
  var messages = document.getElementById('texta')
  //var message = document.createElement('li')
  //var content = document.createTextNode(event.data)
  //message.appendChild(content)
  //messages.appendChild(message)
  messages.value+="Received:"+event.data+"\n";
};

function sendt(){
   var v=document.getElementById("texta");
   var msg=document.getElementById("msg").value;
   ws.send(msg);
   var msg="Sent:"+msg+"\n";
   v.value+=msg;
  
}

function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
{% endblock %} 